.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    line-height: 1.6;
    margin: 0 0 3rem 0;
    padding: 2rem;
    background-color: #F8F8FF;
}