.tile {
  padding: 2rem;
  margin: 2rem;
  width: 350px;
  height: 350px;
  background-size: 350px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.tile:hover {
  transform: translateY(-3%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slider-tile {
  padding: 2rem;
  flex: 0 0 350px;
  height: 350px;
  cursor: pointer; 
  margin: 0 1rem;
  transition: ease-in-out .3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-size: 350px;
}

.slider-tile:hover {
  transform: translateY(-3%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 650px) {
  .slider-tile {
      margin: 0;
  }
}