.about {
    width: 100%;
    background-color: #F8F8FF;
    text-align: center;
    margin: auto;
    padding: 2rem;
    height: auto;
}

.about h4 {
    margin: 1rem 0;
    font-size: 3rem;
    color: black;
    padding: none;
}

.about p {
    line-height: 2;
    font-size: 14px;
}