.about {
    width: 100%;
    background-color: rgba(202, 198, 198, .1);
    text-align: center;
    grid-area: about;
    margin: auto;
    padding: 2rem;
}

.about h4 {
    font-size: 3rem;
    color: black;
    padding: none;
}

.about p {
    line-height: 2;
}